.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(236, 236, 236, 1);
  
    background-color: $white-brand-color;
  }

  .header__wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

