.our-partner {
  background-color: $white-brand-color;

  @media screen and (max-width: 1139px) {
    padding: 60px 0;
  }

  @media screen and (min-width: 1140px) {
    padding: 94px 0;
  }
}

.our-partner__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin: -15px;
  color: $grey-brand-color;

  @media screen and (max-width: 767px) {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (max-width: 1199px) {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }

}

.our-partner__item {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 15px;
}

.our-partner__bg {
  padding: 16px 32px;
  width: 170px;
  height: 92px;

  background-color: $white-brand-color;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid $blu-brand-color;
  }
}

.partner__logo {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .our-partner__bg:focus &,
  .our-partner__bg:hover & {
    fill: $blu-brand-color;
  }
}
