body {
  font-family: 'Roboto';
  color: $black-brand-color;
  background-color: $white-brand-color;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@mixin centerFlex($type: flex, $justCont: center, $Wrap: wrap) {
  display: $type;
  justify-content: $justCont;
  flex-wrap: $Wrap;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
  object-position: center;
  height: auto;
}
