$blu-brand-color: rgb(33, 150, 243);
$black-brand-color: rgba(33, 33, 33, 1);
$grey-brand-color: rgba(117, 117, 117, 1);
$white-brand-color: #fff;
$black-logo: #000;
$brand-color-footer: rgba(47, 48, 58, 1);
